<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("Site.css")" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>
   <!-- style ="padding: 20px; border:solid medium green; font-size: 20pt"-->
    <div >    
        @RenderBody()
    </div>
</body>
</html>
